In [55]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score,accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [56]:
train_df = pd.read_csv('/home/aparna/S6/DataScience/Loan_Prediction_Problem/Train.csv')

In [57]:
train_df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [58]:
train_df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [59]:
train_df.Gender.fillna(train_df.Gender.max(), inplace=True)
train_df.Married.fillna(train_df.Married.max(), inplace=True)
train_df.Dependents.fillna(0, inplace=True)
train_df.Self_Employed.fillna(train_df.Self_Employed.max(), inplace=True)
train_df.LoanAmount.fillna(train_df.LoanAmount.max(), inplace=True)
train_df.Loan_Amount_Term.fillna(train_df.Loan_Amount_Term.max(), inplace=True)
train_df.Credit_History.fillna(train_df.Credit_History.max(), inplace=True)

In [60]:

gender = pd.get_dummies(train_df.Gender,prefix='gender').gender_Female
married = pd.get_dummies(train_df.Married,prefix='marriage').marriage_Yes
graduate = pd.get_dummies(train_df.Education,prefix='education').education_Graduate
self_emp = pd.get_dummies(train_df.Self_Employed,prefix='employed').employed_Yes
loan_status = pd.get_dummies(train_df.Loan_Status,prefix='status').status_Y
property_ = pd.get_dummies(train_df.Property_Area,prefix='property')

In [66]:
newTrain = pd.concat([train_df,gender,married,graduate,self_emp,loan_status,property_],axis=1)

In [67]:
newTrain.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Property_Area,Loan_Status,gender_Female,marriage_Yes,education_Graduate,employed_Yes,status_Y,property_Rural,property_Semiurban,property_Urban
0,LP001002,Male,No,0,Graduate,No,5849,0.0,700.0,360.0,...,Urban,Y,0,0,1,0,1,0,0,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,...,Rural,N,0,1,1,0,0,1,0,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,...,Urban,Y,0,1,1,1,1,0,0,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,...,Urban,Y,0,1,0,0,1,0,0,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,...,Urban,Y,0,0,1,0,1,0,0,1

In [68]:
newTrain.columns

Index([u'Loan_ID', u'Gender', u'Married', u'Dependents', u'Education',
       u'Self_Employed', u'ApplicantIncome', u'CoapplicantIncome',
       u'LoanAmount', u'Loan_Amount_Term', u'Credit_History', u'Property_Area',
       u'Loan_Status', u'gender_Female', u'marriage_Yes',
       u'education_Graduate', u'employed_Yes', u'status_Y', u'property_Rural',
       u'property_Semiurban', u'property_Urban'],
      dtype='object')

In [69]:
feature = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','gender_Female','marriage_Yes','education_Graduate','employed_Yes','property_Rural','property_Semiurban','property_Urban']

In [70]:
x_train = newTrain[feature]
x_train

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,gender_Female,marriage_Yes,education_Graduate,employed_Yes,property_Rural,property_Semiurban,property_Urban
0,5849,0.0,700.0,360.0,1.0,0,0,1,0,0,0,1
1,4583,1508.0,128.0,360.0,1.0,0,1,1,0,1,0,0
2,3000,0.0,66.0,360.0,1.0,0,1,1,1,0,0,1
3,2583,2358.0,120.0,360.0,1.0,0,1,0,0,0,0,1
4,6000,0.0,141.0,360.0,1.0,0,0,1,0,0,0,1
5,5417,4196.0,267.0,360.0,1.0,0,1,1,1,0,0,1
6,2333,1516.0,95.0,360.0,1.0,0,1,0,0,0,0,1
7,3036,2504.0,158.0,360.0,0.0,0,1,1,0,0,1,0
8,4006,1526.0,168.0,360.0,1.0,0,1,1,0,0,0,1
9,12841,10968.0,349.0,360.0,1.0,0,1,1,0,0,1,0
10,3200,700.0,70.0,360.0,1.0,0,1,1,0,0,0,1
11,2500,1840.0,109.0,360.0,1.0,0,1,1,1,0,0,1
12,3073,8106.0,200.0,360.0,1.0,0,1,1,0,0,0,1
13,1853,2840.0,114.0,360.0,1.0,0,0,1,0,1,0,0
14,1299,1086.0,17.0,120.0,1.0,0,1,1,0,0,0,1
15,4950,0.0,125.0,360.0,1.0,0,0,1,0,0,0,1
16,3596,0.0,100.0,240.0,1.0,0,0,0,0,0,0,1
17,3510,0.0,76.0,360.0,0.0,1,0,1,0,0,0,1
18,4887,0.0,133.0,360.0,1.0,0,1,0,0,1,0,0
19,2600,3500.0,115.0,480.0,1.0,0,1,1,1,0,0,1
20,7660,0.0,104.0,360.0,0.0,0,1,0,0,0,0,1
21,5955,5625.0,315.0,360.0,1.0,0,1,1,0,0,0,1
22,2600,1911.0,116.0,360.0,0.0,0,1,0,0,0,1,0
23,3365,1917.0,112.0,360.0,0.0,0,1,0,0,1,0,0
24,3717,2925.0,151.0,360.0,1.0,0,1,1,1,0,1,0
25,9560,0.0,191.0,360.0,1.0,0,1,1,1,0,1,0
26,2799,2253.0,122.0,360.0,1.0,0,1,1,0,0,1,0
27,4226,1040.0,110.0,360.0,1.0,0,1,0,0,0,0,1
28,1442,0.0,35.0,360.0,1.0,0,0,0,0,0,0,1
29,3750,2083.0,120.0,360.0,1.0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
584,2787,1917.0,146.0,360.0,0.0,0,1,1,0,1,0,0
585,4283,3000.0,172.0,84.0,1.0,0,1,1,0,1,0,0
586,2297,1522.0,104.0,360.0,1.0,0,1,1,0,0,0,1
587,2165,0.0,70.0,360.0,1.0,1,0,0,0,0,1,0
588,4750,0.0,94.0,360.0,1.0,0,0,1,0,0,1,0
589,2726,0.0,106.0,360.0,0.0,0,1,1,1,0,1,0
590,3000,3416.0,56.0,180.0,1.0,0,1,1,0,0,1,0
591,6000,0.0,205.0,240.0,1.0,0,1,1,1,0,1,0
592,9357,0.0,292.0,360.0,1.0,0,0,1,1,0,1,0
593,3859,3300.0,142.0,180.0,1.0,0,1,1,0,1,0,0
594,16120,0.0,260.0,360.0,1.0,0,1,1,1,0,0,1
595,3833,0.0,110.0,360.0,1.0,0,0,0,0,1,0,0
596,6383,1000.0,187.0,360.0,1.0,0,1,0,1,1,0,0
597,2987,0.0,88.0,360.0,0.0,0,0,1,0,0,1,0
598,9963,0.0,180.0,360.0,1.0,0,1,1,1,1,0,0
599,5780,0.0,192.0,360.0,1.0,0,1,1,0,0,0,1
600,416,41667.0,350.0,180.0,1.0,1,0,1,1,0,0,1
601,2894,2792.0,155.0,360.0,1.0,0,1,0,1,1,0,0
602,5703,0.0,128.0,360.0,1.0,0,1,1,0,0,0,1
603,3676,4301.0,172.0,360.0,1.0,0,0,1,0,1,0,0
604,12000,0.0,496.0,360.0,1.0,1,1,1,0,0,1,0
605,2400,3800.0,700.0,180.0,1.0,0,1,0,0,0,0,1
606,3400,2500.0,173.0,360.0,1.0,0,1,1,0,0,1,0
607,3987,1411.0,157.0,360.0,1.0,0,1,0,0,1,0,0
608,3232,1950.0,108.0,360.0,1.0,0,1,1,0,1,0,0
609,2900,0.0,71.0,360.0,1.0,1,0,1,0,1,0,0
610,4106,0.0,40.0,180.0,1.0,0,1,1,0,1,0,0
611,8072,240.0,253.0,360.0,1.0,0,1,1,0,0,0,1
612,7583,0.0,187.0,360.0,1.0,0,1,1,0,0,0,1
613,4583,0.0,133.0,360.0,0.0,1,0,1,1,0,1,0

In [71]:
y_train = newTrain['status_Y']
y_train

0      1
1      0
2      1
3      1
4      1
5      1
6      1
7      0
8      1
9      0
10     1
11     1
12     1
13     0
14     1
15     1
16     1
17     0
18     0
19     1
20     0
21     1
22     0
23     0
24     0
25     1
26     1
27     1
28     0
29     1
      ..
584    0
585    0
586    1
587    1
588    1
589    0
590    1
591    0
592    1
593    1
594    1
595    1
596    0
597    0
598    1
599    1
600    0
601    1
602    1
603    1
604    1
605    0
606    1
607    1
608    1
609    1
610    1
611    1
612    1
613    0
Name: status_Y, Length: 614, dtype: uint8

In [72]:
test_df = pd.read_csv('/home/aparna/S6/DataScience/Loan_Prediction_Problem/Test.csv')

In [73]:
test_df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [74]:
test_df.Gender.fillna(test_df.Gender.max(),inplace =True)
test_df.Married.fillna(test_df.Married.max(),inplace=True)
test_df.Credit_History.fillna(test_df.Credit_History.max(),inplace=True)
test_df.LoanAmount.fillna(test_df.LoanAmount.mean(),inplace=True)
test_df.Loan_Amount_Term.fillna(test_df.Loan_Amount_Term.mean(),inplace=True)
test_df.Self_Employed.fillna(test_df.Self_Employed.max(),inplace=True)
test_df.Dependents.fillna(0,inplace=True)

In [75]:
gender = pd.get_dummies(test_df.Gender,prefix='gender').gender_Female
married = pd.get_dummies(test_df.Married,prefix='marriage').marriage_Yes
graduate = pd.get_dummies(test_df.Education,prefix='education').education_Graduate
self_emp = pd.get_dummies(test_df.Self_Employed,prefix='employed').employed_Yes
property_ = pd.get_dummies(test_df.Property_Area,prefix='property')

In [76]:
newTest = pd.concat([test_df,gender,married,graduate,self_emp,property_],axis=1)

In [77]:
x_test = newTest[feature]

In [78]:
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()
logReg.fit(x_train,y_train)
logREg_predict =logReg.predict(x_test)

In [81]:
logReg_y_prediction_class = logReg.predict(x_test)

In [82]:
logRegPredictionFormat = ["Y" if i == 1 else "N" for i in logReg_y_prediction_class ]

In [84]:
pd.DataFrame({'Loan_ID':test_df.Loan_ID,'Loan_Status':logRegPredictionFormat}).to_csv('Submission.csv',index=False)